<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>ICT |ajmalbinnizam </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/">
    </head>
    <body>
     <h2>ICT academy of kerala</h2>
     <p>ICT academy of kerala is a social enterprise created by the vision to enhance industry relevant skills and knowledge in every youth of india.</p>



        
        <script src="" async defer></script>
    </body>
</html>