<!DOCTYPE html>
<html>

<head>
  <title>Contact</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/global.css') }}">

</head>

<body>



<table>
  <tr>
    <td>
      <a href="home_v2" style="text-decoration:none">
        <b>Home</b>
      </td>
    </tr>
</table>


<table width=100%>
  <tr bgcolor="#b5dcb3">
    <th>
      <h3 style='Arial'>STEPHEN LU</h3>
    </th>
    <th>
      <h3>LAURENCE LIANG</h3>
  </tr>
  <tr bgcolor= "#b5dce3">
    <td>
      <p>Mushroom expert.</p>
    <td>
      <p>Trying so hard to code.</p>
      <p>But doesn't play Fortnite</p>
    </td>
  </tr>
</table>

<div>
</body>
</html>
