<!DOCTYPE html>
<html>
<head>
  <title>Mushroom Classifier</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/global.css') }}">

</head>


<body>



 <table border=0 width=100% bgcolor = "#b5dcb3">
  <tr>
    <td>
      <a href = "about"  style="text-decoration:none"><b>
      About</b>
      </a>
    </td>
    <td>
      <a href = "contact"  style="text-decoration:none"><b>
      Contact
    </a>
    </td>
  </tr>
</table>


  <h1>Mushroom Classifier</h1>
  <div id='apple'>
<p>Use this website to determine whether or not your mushrooms are edible or poisonous!</p>
</div>
  <div>
    <h2>How it works</h2>
    <p>Mushroom Classifier is an algorithm that uses machine learning techniques to predict if your mushrooms are safe to eat.</p>
  </div>

  <div>
    <h2>Please indicate the characteristics of your mushroom.</h2>
    <table border = "solid">
      <tr>
        <th>Cap Shape</th>
        <th>Cap Surface</th>
        <th>Cap Color</th>
        <th>Bruises</th>
        <th>Odor</th>
        <th>Gill Attachment</th>
        <th>Gill Spacing</th>
        <th>Gill Size</th>
        <th>Gill Color</th>
        <th>Stalk Shape</th>
        <th>Stalk Root</th>
        <th>Stalk Surface Above</th>
        <th>Stalk Surface Below</th>
        <th>Stalk Color Above</th>
        <th>Stalk Color Below</th>
        <th>Veil Type</th>
        <th>Veil Color</th>
        <th>Ring Number</th>
        <th>Ring Type</th>
        <th>Spore Print Color</th>
        <th>Population</th>
        <th>Habitat</th>
      </tr>
      <tr>
        <td>Bell</td>
        <td>Fibrous</td>
      </tr>
      <tr>
        <td>Conical</td>
        <td>Grooves</td>
      </tr>
      <tr>
        <td>Convex</td>
        <td>Scaly</td>
      </tr>
      <tr>
        <td>Flat</td>
        <td>Smooth</td>
      </tr>
      <tr>
        <td>Knobbed</td>
        <td></td>
      </tr>
      <tr>
        <td>Sunken</td>
        <td></td>
      </tr>

    </table>

    <textarea name="textarea"rows="10" cols="50">
      Write something here...
    </textarea>
  </div>

</div>

</body>
</html>
